<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>게시물 목록</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <style>
        body {
            background-color: #e3f2fd;
        }
        .main-container {
            display: flex;
            max-width: 1000px;
            margin: 50px auto;
        }
        .category-container {
            width: 200px;
            margin-right: 20px;
            background: white;
            padding: 20px;
            border-radius: 10px;
            height: fit-content;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .table-container {
            flex: 1;
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm px-4">
    <div class="container-fluid">
        <div class="navbar-brand" href="/">
            <a href="/">
                <img src="/img/logo.png" alt="logo" width="120"><img src="/img/strongLog.png" alt="strongLog" width="210"></a>
            <span sec:authorize="isAuthenticated()">
                <a class="btn btn-outline-primary me-2" th:href="@{|/${#authentication.name}/blog|}">내 블로그</a>
            </span>
        </div>
        <div class="ms-auto">
            <div sec:authorize="isAnonymous()">
                <a class="btn btn-outline-primary me-2" href="/login">로그인</a>
                <a class="btn btn-primary" href="/register">회원가입</a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <span class="me-2 text-primary fw-bold" th:text="${#authentication.name}"></span>
                <a class="btn btn-outline-danger" href="/logout">로그아웃</a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="main-container">
        <div class="category-container">
            <h5 class="text-primary"><span th:text="${nickname}"></span></h5>
            <br>
            <h6>카테고리</h6>
            <ul class="list-group">
                <li class="list-group-item"><a th:href="@{|/${username}/blog|}">전체글</a></li>
                <li class="list-group-item"><a th:href="@{|/${username}/blog/types/FEELINGS|}">감정일기</a></li>
                <li class="list-group-item"><a th:href="@{|/${username}/blog/types/THANKS|}">감사일기</a></li>
                <li class="list-group-item"><a th:href="@{|/${username}/blog/types/SUGGESTION|}">자기암시</a></li>
                <li class="list-group-item"><a th:href="@{|/${username}/blog/types/SAYING|}">명언</a></li>
                <li class="list-group-item"><a th:href="@{|/${username}/blog/types/TRANSCRIPTION|}">필사</a></li>
                <li class="list-group-item"><a th:href="@{|/${username}/blog/types/DREAM|}">꿈일기</a></li>
            </ul>
        </div>

    <div class="table-container">
        <div th:if="${articleType}==null">
            <h4 class="text-center">전체글</h4>
        </div>
        <div th:unless="${articleType}==null">
            <h4 class="text-center"><span th:text="${articleType.displayName}"></span></h4>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>번호</th>
                <th>카테고리</th>
                <th>제목</th>
                <th> </th>
                <th>작성일</th>
                <th>❤️</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="article, stat : ${articles}">
                <td th:text="${stat.count}"></td>
                <td th:text="${article.articleType.displayName}"></td>
                <td>
                    <a th:href="@{|/${article.author.username}/blog/${article.id}|}">
                        <span th:text="${article.title}"></span>
                    </a>
                </td>
                <div th:if="${#authorization.expression('isAuthenticated()') and #authentication.getPrincipal()?.getUsername() == username}">
                    <div th:if="${article.privacy}"><td>🔒</td></div>
                    <div th:unless="${article.privacy}"><td>🔓</td></div>
                </div>
                <div th:unless="${#authorization.expression('isAuthenticated()') and #authentication.getPrincipal()?.getUsername() == username}">
                    <td> </td>
                </div>
                <td th:text="${#temporals.format(article.time, 'yyyy.M.d HH:mm')}"></td>
                <td th:text="${article.countLikes}"></td>
            </tr>
            </tbody>
        </table>

        <!-- Paging -->
        <div th:if="${!articles.isEmpty()}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!articles.hasPrevious}?'disabled'">
                    <a class="page-link" th:href="@{|?page=${articles.number-1}|}">
                        <span>이전</span>
                    </a>
                </li>
                <li th:each="page : ${#numbers.sequence(0,articles.totalPages-1)}"
                    th:if="${page >= articles.number-5 and page <= articles.number+5}"
                    th:classappend="${page == articles.number} ? 'active'"class="page-item">
                    <a th:text="${page+1}" class="page-link"
                       th:href="@{|?page=${page}|}"></a>
                </li>
                <li class="page-item" th:classappend="${!articles.hasNext}?'disabled'">
                    <a class="page-link" th:href="@{|?page=${articles.number+1}|}">
                        <span>다음</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="text-center mt-3">
            <div th:if="${#authorization.expression('isAuthenticated()') and #authentication.getPrincipal()?.getUsername() == username}">
                <div th:if="${articleType} == null">
                    <a th:href="@{|/${username}/blog/FEELINGS/add|}" class="btn btn-success">글쓰기</a>
                </div>
                <div th:unless="${articleType} == null">
                    <a th:href="@{|/${username}/blog/${articleType}/add|}" class="btn btn-success">글쓰기</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
