<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>게시물 상세조회</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <style>
        body {
            background-color: #e3f2fd;
        }

    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm px-4">
    <div class="container-fluid">
        <div class="navbar-brand" href="/">
            <a href="/">
                <img src="/img/logo.png" alt="logo" width="120"><img src="/img/strongLog.png" alt="strongLog" width="210"></a>
            <span sec:authorize="isAuthenticated()">
                <a class="btn btn-outline-primary me-2" th:href="@{|/${#authentication.name}/blog|}">내 블로그</a>
            </span>
        </div>
        <div class="ms-auto">
            <div sec:authorize="isAnonymous()">
                <a class="btn btn-outline-primary me-2" href="/login">로그인</a>
                <a class="btn btn-primary" href="/register">회원가입</a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <span class="me-2 text-primary fw-bold" th:text="${#authentication.name}"></span>
                <a class="btn btn-outline-danger" href="/logout">로그아웃</a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="main-container">
        <div class="category-container">
            <br>
            <ul class="list-group d-flex flex-row flex-wrap">
                <li class="list-group-item me-2"><a th:href="@{/}">전체글</a></li>
                <li class="list-group-item me-2"><a th:href="@{/types/FEELINGS}">감정일기</a></li>
                <li class="list-group-item me-2"><a th:href="@{/types/THANKS}">감사일기</a></li>
                <li class="list-group-item me-2"><a th:href="@{/types/SUGGESTION}">자기암시</a></li>
                <li class="list-group-item me-2"><a th:href="@{/types/SAYING}">명언</a></li>
                <li class="list-group-item me-2"><a th:href="@{/types/TRANSCRIPTION}">필사</a></li>
                <li class="list-group-item"><a th:href="@{/types/DREAM}">꿈일기</a></li>
            </ul>
        </div>


        <div class="table-container">
            <br>
            <div th:if="${articleType}==null">
                <h4 class="text-center">전체글</h4>
            </div>
            <div th:unless="${articleType}==null">
                <h4 class="text-center"><span th:text="${articleType.displayName}"></span></h4>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>카테고리</th>
                    <th>제목</th>
                    <th>글쓴이</th>
                    <th>작성일</th>
                    <th>❤️</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="article, stat : ${articles}">
                    <td th:text="${stat.count}"></td>
                    <td th:text="${article.articleType.displayName}"></td>
                    <td>
                        <a th:href="@{|/${article.author.username}/blog/${article.id}|}">
                            <span th:text="${article.title}"></span>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{|/${article.author.username}/blog|}">
                            <span th:text="${article.author.nickname}"></span>
                        </a>
                    </td>
                    <td th:text="${#temporals.format(article.time, 'yyyy.M.d HH:mm')}"></td>
                    <td th:text="${article.countLikes}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>